<html>
<head>
<title> Find The Thai </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta http-equiv="refresh" content="2;url=http://192.168.0.100:5001/find_the_thai.html"></head>--!>
<body>
<style>
h1{
    text-align: center;
}
#placedBet{
width:10%;
}

button{
background:url(https://static.vecteezy.com/system/resources/previews/033/252/038/original/thailand-farmer-confused-with-question-mark-vector.jpg);background-size: 100%;
  width: 15%;
  height: 40%;
  border: 1px solid;
}
button:hover{
border: 2px SOLID RED;
}

body{
background-image: url('images/thai_question.jpg');
}
</style>
<h1>Find The Thai</h1>

<form action="/find_the_thai.html" method="post">

<div>
	<input type="number" id="placedBet" value=10 name="placedBet">
	{% for i in range(numbers_of_thais) %}
	<button type="submit" name="choosenThai" value={{i}} class="images" >	</button>

	{% endfor %}
</div>

</form>
<p>choosenThai: {{choosenThai}}<p>
<p>placedBet: {{placedBet}}<p>
<p>Profit: {{profit}}<p>
<p>result: {{result}}<p>

</body>
</html>
